<!DOCTYPE html>
<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Milestones</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p>
                    Sample Text
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Dismiss
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>