<!DOCTYPE html>
<div class="mdl-grid">
    <div ng-if="loading.state === 'loading'" class="vertical-margin-20 text-center mdl-typography--headline">
        Loading...
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop"
         ng-repeat="usecase in usecases">
        <div class="mdl-card mdl-shadow--3dp milestone-card">
            <div class="mdl-card__title mdl-color--accent mdl-color-text--accent-contrast">
                {{usecase.title}}
            </div>
            <div class="mdl-card__supporting-text">
                <span ng-bind-html="usecase.body"></span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <md-button
                        class="md-ripple-effect md-primary"
                        ng-click="showMilestones($event, usecase)"
                >
                    View Milestones
                </md-button>
            </div>
        </div>
    </div>
</div>